// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #ee623c;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #fd7b11;
  --ion-color-primary-tint: #ffae52;
  --ion-color-primary2: #ff4a1894;
  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #fff;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #fff;
  --ion-color-light-tint: #fff;
  // orange-note
  --ion-color-note: #e0b500;
  --ion-color-note-rgb: 244, 244, 244;
  --ion-color-note-contrast: #ffffff;
  --ion-color-note-contrast-rgb: 0, 0, 0;
  --ion-color-note-shade: #ffd31a;
  --ion-color-note-tint: #e0b500;
  // color customize
  // orange-dark
  --ion-color-darks: #ff470d;
  --ion-color-darks-rgb: 244, 244, 244;
  --ion-color-darks-contrast: #ffffff;
  --ion-color-darks-contrast-rgb: 0, 0, 0;
  --ion-color-darks-shade: #d83b0b;
  --ion-color-darks-tint: #b32c02;
  // color customize
  --ion-color-gri: rgba(204, 204, 204, 0.19);
  --ion-color-gri-rgb: #FCFCFC;
  --ion-color-gri-contrast: #FCFCFC;
  --ion-color-gri-contrast-rgb: #FCFCFC;
  --ion-color-gri-shade: #FCFCFC;
  --ion-color-gri-tint: #FCFCFC;
}
.ion-color-note {
  --ion-color-base: var(--ion-color-note) !important;
  --ion-color-base-rgb: var(--ion-color-note-rgb) !important;
  --ion-color-contrast: var(--ion-color-note-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-note-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-note-shade) !important;
  --ion-color-tint: var(--ion-color-note-tint) !important;
}
.ion-color-gri {
  --ion-color-base: var(--ion-color-gri) !important;
  --ion-color-base-rgb: var(--ion-color-gri-rgb) !important;
  --ion-color-contrast: var(--ion-color-gri-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-gri-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-gri-shade) !important;
  --ion-color-tint: var(--ion-color-gri-tint) !important;
}
.ion-color-darks {
  --ion-color-base: var(--ion-color-darks) !important;
  --ion-color-base-rgb: var(--ion-color-darks-rgb) !important;
  --ion-color-contrast: var(--ion-color-darks-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-darks-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-darks-shade) !important;
  --ion-color-tint: var(--ion-color-darks-tint) !important;
}