<ion-header>
  <ion-toolbar>
      <ion-icon name="arrow-round-back" slot="start" style="font-size: 23px;
      margin: 10px;" routerLink="/page-login" routerDirection="back"></ion-icon>
      <ion-icon name="md-timer" slot="end" style="font-size: 23px;
      margin: 10px;"></ion-icon>
      <ion-icon name="md-share" slot="end" style="font-size: 23px;
      margin: 10px;"></ion-icon>
      <ion-icon name="md-information-circle" slot="end" style="font-size: 23px;
      margin: 10px;"></ion-icon>
      <ion-icon name="md-trash" slot="end" style="font-size: 23px;
      margin: 10px;"></ion-icon>
       
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
