<ion-content>
  <div class="div-parent">
    <div class="ion-padding home">
        <img class="img-logo" src="assets/logo-voice.png">
    </div>
    <span>
        <h3>NoteVoice</h3>
    </span>
    <div class="text-description">
      La manière la plus simple de gerer les notes vocales
      <!-- <ion-skeleton-text animated [style.width.px]="200">
      </ion-skeleton-text> -->
    </div>
    <div class="col-footer">
      <ion-button expand="full" color="primary" routerLink="/inscription" routerDirection="forward"> S'inscrire</ion-button>
      <ion-button expand="full" color="light" (click)="callmodal()" > Connexion </ion-button>
    </div>
  </div>
  
</ion-content>
